<%- include('includes/head.ejs', {title: 'about' }) %>
</head>
<body>
    <%- include('includes/nav.ejs')  %>
    <main>
        <h1>Welcome to Acorn Antiques</h1>
        <p>We have sold all manner of old tat for over 3 days...</p>
        <img src="https://www.rd.com/wp-content/uploads/2019/09/156-LLC-scaled.jpg?resize=700,466" alt="Oh dear that's awkward">
<h2>Here we all are and come the revolution we will be merciless</h2>
    </main>
</body>