<%- include('includes/head.ejs', { title: 'contact us' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/auth.css">
  </head>

<body>
  <%- include('includes/nav.ejs')  %>
  <main>
    <div class="welcome">
      <h2>Thank you for your message - we will be in touch as soon as possible.</h2>
    </div>
    
  </main>
</body>